{% extends "base.html" %}<!--# unosled ot bazuvugu htmla-->

{% block content %}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">welcome TO MiNi-TWItt</h1>
            <p class="lead text-body-secondary">post here</p>
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>USERS</h1>
            </div>
<!--            <ul class="dropdown-menu d-block position-static mx-0 border-0 shadow w-220px" data-bs-theme="dark">-->

            <div class="col-md-9">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% for user in all_users %}

                    <div class="col">
                        <div class="card shadow-sm">

                            <div class="card-body">
                                <h5 class="card-title">User: {{ user.username }} </h5>
                                <p class="card-text">User: {{ user.email }}</p>
<!--                                                                <p class="card-text">Join date: {{ user.date_joined }}</p>-->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href={{ post }}>Posts</a></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>

                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
            </ul>
    </div>
</div>
{% endblock %}
